:root {
    --color-dark-blue: #102B3E;
    --color-light-aqua: #3B677B;

}


* {
    margin: 0 auto;

}

.box-circle{
    background-color: silver;
    padding:20px ;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 65px;
}


.centr_box {
    display: flex;
    border: 4px solid var(--color-light-aqua);
    border-radius: 8px;
    flex-direction: row;
    padding-top: 10px;
}


.firm {
    font-size: 30px;

}

.centr_top__circle {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background-color: var(--color-dark-blue);
    border-radius: 5px;

}

.centr_top__circle__description {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.j-content {
    display: flex;
    justify-content: space-between;


}

.centr_buttom__box {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 5px;
}

.centr_buttom__box__description {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
}


.box {
    display: flex;
    background-color: var(--color-dark-blue);
}



