:root {
    --color-light-aqua: #3DC6E8;
    --color-dark-blue: #122A40;
    --color-light-grey: #CCD8E0;
    --color-light-lightblue: #80B3FF;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;


}

* {
    margin: 0;
    padding: 0;
}

.block {
    width: 1400px;
    margin: 0 auto;
    background-color: var(--color-light-grey);

}

.main {
    height: 50px;
    background-color: var(--color-light-aqua);

}

.top_main {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}


.icon_link {
    height: 5px;
    width: 40px;
    background-color: var(--color-dark-blue);
    margin: 10px 20px 0;
}


.button_icon {
    margin: 10px 0 0 200px;
    border-radius: 8px;
    width: 160px;
    height: 65px;
    background-color: var(--color-dark-blue);


}

.links {
    padding: 10px 0 20px;

}


.item_links {
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

.item {
    font-size: 30px;
    margin: 50px 30px 0 600px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item_links_end {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.about {
    border: 2px solid var(--color-light-lightblue);
    background-color: var(--color-light-aqua);
}

.firm_name {
    font-size: 50px;
    color: #fff;
}

.about_firm {
    font-size: 17px;


}


.button_next {
    margin: 6px 0;
}


.next {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--color-dark-blue);
    font-size: 16px;
    color: white;
}

a {
    text-decoration: none;
}

.j-content {
    display: flex;
    justify-content: space-between;


}

.product_type {
    font-size: 34px;
    margin: 3px;

}


.box {
    margin: 5px auto;
    width: 80%;
    border: 3px solid var(--color-light-lightblue);
    border-radius: 8px;
}


.center_top__box {
    margin: 0 15px;
    border-radius: 5px;
    background-color: var(--color-dark-blue);
    width: 150px;
    height: 150px;
}

.center_top__description {
    margin: 3px 25px 15px;
    font-size: 17px;
}


.circle {
    background-color: var(--color-dark-blue);

}

.center_circle_settings {
    margin: 7px 0;
}

.box-circle {
    margin: 0 auto;
    width: 80%;
    border: 3px solid var(--color-light-lightblue);
    border-radius: 8px;

}

.center_top_circle {
    margin: 20px 15px 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color-light-grey);


}

.center_top__circle__name {
    color: white;
    font-size: 20px;
    margin: 3px 0 3px 45px;

}


.center_top_circle__description {
    color: silver;
    margin: 3px 0 15px 3px;
    font-size: 17px;
}


.news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.center_news__box {


}

.news_box {
    margin: 5px;
    height: 200px;
    width: 300px;
    border-radius: 8px;
    background-color: var(--color-dark-blue);

}

.wrap {
    margin: 7px;
    border: 5px solid var(--color-light-lightblue);
    border-radius: 8px;

}

.news_description {
    margin-left: 15px;
    font-size: 25px;

}

.bottom_button {
    background-color: var(--color-dark-blue);
    border-radius: 8px;
    height: 15px;
    width: 45px;
    margin-bottom: 2px;
}

.wrapper {
    border: 5px solid var(--color-light-lightblue);
    border-radius: 8px;
}

.mini_circle {
    background-color: var(--color-dark-blue);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: relative;
    left: 185px;
    margin: 0 0 5px 10px;

}

.button_setting {
    margin-top: 10px;
    margin-left: 5px;
}

.mini_circle__position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.news_text {
    font-size: 50px;
    margin: 10px 0;

}

.boxes {
    /* background-color: var(--color-dark-blue);*/
    display: flex;

}

.boxes_second {
    background-color: var(--color-light-aqua);
    display: flex;

}


.first_box {
    background-color: var(--color-dark-blue);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box_left {
    width: 550px;
    margin-left: 150px;
}

.second_box {
    background-color: var(--color-light-aqua);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box_right {
    width: 550px;
    margin-right: 150px;
}

.box_text {
    margin: 20px 0 15px;
    font-size: 50px;
    color: #fff;
}

.box_text_second {
    margin: 20px 0 15px;
    font-size: 50px;
    color: #000;
}

.text_about {
    margin: 0 30px 15px 0;
    font-size: 20px;
    color: #c0c0c0;

}


.text_about__second {
    margin: 0 0 15px 30px;
    font-size: 20px;
    color: #000;

}

.footer {
    margin: 100px auto;
    height: 200px;
    background-color: var(--color-dark-blue);
    border: 3px solid var(--color-light-lightblue);
    border-radius: 8px;
}

.footer_box {
    background-color: var(--color-light-grey);
    border-radius: 8px;
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.foot {
    top: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plank {
    position: relative;
    top: 100px;
    height: 5px;
    width: 500px;
    background-color: var(--color-light-lightblue);

}